.section-listing .form-search {display: flex;align-items: center;border: 2px solid var(--extra-light-gray);padding-inline: 10px;border-radius: var(--radius-3);overflow: hidden;transition: .4s;}
.section-listing .form-search input#search {flex: 1;border: unset;padding: 10px;outline: unset;}
.section-listing .form-search:focus-within {border-color: hsl(152 100% 30% / 1);}
.section-listing .form-search:focus-within .icon-search {color: hsl(152 100% 30% / 1);}
.section-listing .form-search .icon-search {transition: .4s;color: var(--gray-light);font-size: 1.8rem;}
.section-listing .cards-wrapper {--grid-columns: 2;margin-top: var(--spacer-5);}
.section-listing .card {padding: var(--padding-card);background-color: white;border-inline-start: 4px solid hsl(152 100% 30% / 1);box-shadow: 0 0 10px #e4e4e4;}
.section-listing .card-title:before {content: "\e989";font-family: 'icomoon';}
.section-listing .card-location:before {content: "\e933";font-family: 'icomoon';}
.section-listing .card-phone:before {content: "\e986";font-family: 'icomoon';}
.section-listing .card-title {display: flex;align-items: center;gap: var(--spacer-2);}
.section-listing .card-row {display: flex;align-items: center;gap: var(--spacer-5);margin-top: var(--spacer-2);}
.section-listing .card *:before {color: #9e9e9e;font-size: 2rem;}
.section-listing .card-row > * {display: flex;align-items: center;gap: var(--spacer-2);font-weight: 500;}

.pagination {display: flex;align-items: center;justify-content: center;margin-top: var(--spacer-6);gap: var(--spacer-2);}
.pagination > * {width: 40px;aspect-ratio: 1;display: flex;align-items: center;justify-content: center;color: hsl(152 100% 30% / 1);border: 2px solid var(--extra-light-gray);border-radius: var(--radius-1);font-size: var(--font-size-body-lg);transition: .4s;}
.pagination .pagination-item.active, .pagination-item:hover {border-color: hsl(152 100% 30% / 1);}
.pagination .pagination-item > a {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;}


.central-council-members .card {display: flex;align-items: center;gap: var(--spacer-3);}
.central-council-members.section-listing .card-row {margin: 0;padding-inline-start: var(--spacer-3);border-inline-start: 1px solid;}
.central-council-members.section-listing .card *:before {content: unset;}
.central-council-members.section-listing .card-row > * {color: hsl(152 100% 30% / 1);font-weight: 600;}





.data-page .section-listing .card {border: unset;border-radius: var(--radius-3);}
.data-page .section-listing .card .card-title:before {content: unset;}
.data-page .card-date {font-size: var(--font-size-body-md);font-weight: 500;color: var(--primary-color)}
.data-page .section-listing .card > * + * {margin-top: var(--spacer-1);}
.data-page .section-listing .card .card-desc {margin-top: var(--spacer-3);line-height: 1.7;}
.data-page .read-more {display: flex;align-items: center;gap: 6px;width: fit-content;margin-inline-start: auto;}
.data-page .read-more span.icon-external-link:before {color: var(--primary-color);font-size: 1.4rem;}
.data-page .icons {display: flex;flex-direction: column;align-items: center;justify-content: end;gap: 6px;transform: rotate(315deg);width: 20px;aspect-ratio: 1;overflow: hidden;}
.data-page .read-more span.icon-external-link {color: var(--primary-color);display: block;transform: scaleX(-1) rotate(-45deg);flex-shrink: 0;width: 20px;aspect-ratio: 1;display: flex;align-items: center;justify-content: center;}


